<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 패키지 통합관리 -->
	<typeAliases>
		<typeAlias type="com.join.main.vo.MainVO" alias="MainVO"/>
		<typeAlias type="com.join.member.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.join.mate.vo.MateVO" alias="MateVO"/>
		<typeAlias type="com.join.landmark.vo.LandmarkVO" alias="LandmarkVO"/>
		<typeAlias type="com.join.landmark.vo.TripCityVO" alias="TripCityVO"/>
		<typeAlias type="com.join.landmark.vo.TripStyleVO" alias="TripStyleVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/join/main/dao/sql/mainDao.xml"/>
		<mapper resource="com/join/member/dao/sql/memberDao.xml"/>
		<mapper resource="com/join/mate/dao/sql/mateDao.xml"/>
		<mapper resource="com/join/landmark/dao/sql/landmarkDao.xml"/>
	</mappers>
</configuration>